[Desktop Entry]
X-SnapInstanceName=blender
Name=Blender (no crashy)
GenericName=3D modeler
Comment=The blender snap's desktop file with INTEL_DEBUG=reemit added, which prevents a crash on mesa on my XPS
Keywords=3d;cg;modeling;animation;painting;sculpting;texturing;video editing;video tracking;rendering;render engine;cycles;game engine;python;
Exec=env BINTEL_DEBUG=reemit AMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/blender_blender.desktop /snap/bin/blender %U
Icon=/snap/blender/current/blender.svg
Terminal=false
Type=Application
Categories=Graphics;3DGraphics;
MimeType=application/x-blender;

